openapi: 3.1.0
info:
  title: Total Recall Memory API
  description: Store and search memories with semantic search. Used by AI assistants to maintain long-term memory.
  version: 1.0.0
servers:
  - url: https://recall.stakewatch.dev
paths:
  /api/search:
    post:
      operationId: searchMemories
      summary: Search memories using semantic and keyword search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query:
                  type: string
                  description: Search query text
                limit:
                  type: integer
                  default: 10
                  minimum: 1
                  maximum: 50
                namespaces:
                  type: array
                  items:
                    type: string
                  description: Filter to specific namespaces
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/Memory"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
  /api/store:
    post:
      operationId: storeMemory
      summary: Store a new memory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content, namespace]
              properties:
                content:
                  type: string
                  description: Memory content text
                namespace:
                  type: string
                  description: "Namespace to store in (e.g. work, shared)"
                tags:
                  type: array
                  items:
                    type: string
                source:
                  type: string
                  description: Source identifier (defaults to key name)
      responses:
        "200":
          description: Memory stored
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created:
                    type: boolean
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
  /api/store-document:
    post:
      operationId: storeDocument
      summary: Store a full document (auto-chunked for search)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, content, namespace]
              properties:
                title:
                  type: string
                content:
                  type: string
                namespace:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Document stored
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  chunks:
                    type: integer
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
components:
  schemas:
    Memory:
      type: object
      properties:
        id:
          type: string
        content:
          type: string
        namespace:
          type: string
        tags:
          type: array
          items:
            type: string
        source:
          type: string
        created_at:
          type: string
          format: date-time
        final_score:
          type: number
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
