openapi: 3.1.0
info:
  title: Total Recall Memory API
  description: >-
    Store and search memories with semantic search. Used by AI assistants to maintain long-term memory.
    JSON request bodies are limited to 8 MiB and must use identity Content-Encoding. Memory content is
    limited to 100,000 JavaScript characters; document content to 1048576 UTF-8 bytes; per-request metadata to
    65536 serialized JSON bytes, depth 16, and 1000 keys total across the metadata value; tags to 100 tags and 256 JavaScript characters per tag.
  version: 1.0.0
servers:
  - url: https://recall.stakewatch.dev
paths:
  /api/search:
    post:
      operationId: searchMemories
      summary: Search memories using semantic and keyword search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query:
                  type: string
                  description: Search query text
                limit:
                  type: integer
                  default: 10
                  minimum: 1
                  maximum: 50
                namespaces:
                  type: array
                  items:
                    type: string
                  description: Filter to specific namespaces
                valid_at:
                  type: string
                  format: date-time
                  description: Offset-aware ISO-8601 instant for historical belief validity using [valid_from, valid_to). Available after validity finalization.
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/Memory"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "400":
          description: Invalid search request; malformed JSON returns `{code: "invalid_json"}`.
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedContentEncoding"
  /api/store:
    post:
      operationId: storeMemory
      summary: Store a new memory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content, namespace]
              properties:
                content:
                  type: string
                  description: Memory content text; maximum 100,000 JavaScript characters (UTF-16 code units).
                namespace:
                  type: string
                  description: "Namespace to store in (e.g. work, shared); maximum 512 JavaScript characters."
                tags:
                  type: array
                  maxItems: 100
                  description: Maximum 100 tags.
                  items:
                    type: string
                    description: Maximum 256 JavaScript characters per tag.
                metadata:
                  type: object
                  description: Per-request maximum 65536 serialized JSON bytes, depth 16, and 1000 keys total across the metadata value.
                  additionalProperties: true
                source:
                  type: string
                  description: Source identifier (defaults to key name)
                idempotency_key:
                  type: string
                  minLength: 1
                  maxLength: 512
                  description: Optional retry key scoped only to the authenticated API key. Reusing it updates the same memory while preserving created_at; callers authorized for both namespaces may move it and may update its access level.
      responses:
        "200":
          description: Memory stored
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created:
                    type: boolean
                  idempotency_key_honored:
                    type: boolean
                    description: Present and true only when an idempotency_key was supplied and honored. Keyed callers should require this acknowledgement before checkpointing.
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "409":
          $ref: "#/components/responses/TombstonedIdempotencyKey"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedContentEncoding"
  /api/store-document:
    post:
      operationId: storeDocument
      summary: Store a full document (auto-chunked for search)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, content, namespace]
              properties:
                title:
                  type: string
                  description: Maximum 512 JavaScript characters.
                content:
                  type: string
                  description: Nonblank document content. The authoritative limit is 1 MiB (1048576 decoded UTF-8 bytes, not characters); content is preserved losslessly in embedding chunks of at most 2,000 UTF-8 bytes.
                namespace:
                  type: string
                  description: Maximum 512 JavaScript characters.
                tags:
                  type: array
                  maxItems: 100
                  description: Maximum 100 tags.
                  items:
                    type: string
                    description: Maximum 256 JavaScript characters per tag.
                metadata:
                  type: object
                  description: Per-request maximum 65536 serialized JSON bytes, depth 16, and 1000 keys total across the metadata value; applied to stored chunks.
                  additionalProperties: true
                source:
                  type: string
                idempotency_key:
                  type: string
                  description: Optional retry key scoped to the authenticated API key and namespace. Reusing it with a different or incomplete document returns 409. If any visible chunk of the completed document was tombstoned, retry returns the stable idempotency_key_tombstoned 409 and never restores chunks.
      responses:
        "200":
          description: Document stored
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  chunks:
                    type: integer
        "400":
          description: Invalid request, including blank content or decoded UTF-8 content over 1 MiB; malformed JSON and metadata envelope failures use the documented stable codes.
          $ref: "#/components/responses/InvalidRequest"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "409":
          $ref: "#/components/responses/DocumentIdempotencyConflict"
        "413":
          description: JSON transport envelope exceeds the independently configured HTTP parser limit.
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedContentEncoding"
  /api/memories:
    delete:
      operationId: forgetMemories
      summary: Soft-delete matching memories
      description: Selectors combine with AND. At least one selector is required. Requests without ids require confirm=true. Requires the explicit delete permission; write does not imply delete.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForgetRequest"
      responses:
        "200":
          description: Newly tombstoned authorized memories. Missing and inaccessible IDs are omitted identically.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForgetResult"
        "400":
          description: Invalid, unconfirmed, empty, or over-broad request
        "401":
          description: Unauthorized
        "403":
          description: Missing delete permission or namespace access
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedContentEncoding"
  /api/media/events:
    post:
      operationId: ingestMediaEvents
      summary: Ingest media playback or viewing events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [events]
              properties:
                events:
                  type: array
                  maxItems: 500
                  items:
                    type: object
                    required: [service, event_type, title, played_at]
                    properties:
                      service:
                        type: string
                      service_id:
                        type: string
                      event_type:
                        type: string
                      title:
                        type: string
                      artist:
                        type: string
                      album:
                        type: string
                      show:
                        type: string
                      season:
                        type: integer
                      episode:
                        type: integer
                      year:
                        type: integer
                      genres:
                        type: array
                        items:
                          type: string
                      duration_ms:
                        type: integer
                      played_ms:
                        type: integer
                      completed:
                        type: boolean
                      played_at:
                        type: string
                        format: date-time
                      metadata:
                        type: object
                        additionalProperties: true
      responses:
        "200":
          description: Media events ingested
        "400":
          description: Invalid media event request; malformed JSON returns `{code: "invalid_json"}`.
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedContentEncoding"
components:
  responses:
    InvalidRequest:
      description: Malformed JSON returns `{code: "invalid_json"}`; metadata envelope violations on memory, document, and agent requests return `{code: "invalid_metadata"}`; decoded schema violations use the validation-error shape.
      content:
        application/json:
          schema:
            oneOf:
              - type: object
                required: [code]
                properties:
                  code:
                    type: string
                    enum: [invalid_json, invalid_metadata]
              - type: object
                required: [error]
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
    PayloadTooLarge:
      description: Encoded JSON exceeds 8 MiB; returns `{code: "payload_too_large"}`.
    UnsupportedContentEncoding:
      description: Non-identity Content-Encoding; returns `{code: "unsupported_content_encoding"}`.
    TombstonedIdempotencyKey:
      description: The supplied idempotency key resolves to a deleted memory visible to the authenticated caller. Deleted memories are never restored implicitly.
      content:
        application/json:
          schema:
            type: object
            required: [error, code]
            properties:
              error:
                type: string
              code:
                type: string
                enum: [idempotency_key_tombstoned]
    DocumentIdempotencyConflict:
      description: The key identifies a different request or incomplete write, or a visible completed document has one or more tombstoned chunks. The tombstone case returns the stable idempotency_key_tombstoned code and never restores chunks; inaccessible rows remain undisclosed.
      content:
        application/json:
          schema:
            type: object
            required: [error]
            properties:
              error:
                type: string
              code:
                type: string
                description: Present for the stable visible-tombstone conflict.
                enum: [idempotency_key_tombstoned]
  schemas:
    ForgetRequest:
      type: object
      additionalProperties: false
      properties:
        ids:
          type: array
          minItems: 1
          maxItems: 100
          uniqueItems: true
          items:
            type: string
            format: uuid
        namespace:
          type: string
          minLength: 1
          maxLength: 512
        before:
          type: string
          format: date-time
          description: Strict boundary; only created_at values less than this instant match.
        tags:
          type: array
          minItems: 1
          maxItems: 100
          items:
            type: string
            minLength: 1
            maxLength: 256
        confirm:
          type: boolean
          description: Must be true whenever ids is omitted.
        reason:
          type: string
          minLength: 1
          maxLength: 512
    ForgetResult:
      type: object
      required: [forgotten, count]
      properties:
        forgotten:
          type: array
          items:
            type: string
            format: uuid
        count:
          type: integer
          minimum: 0
    Memory:
      type: object
      properties:
        id:
          type: string
        content:
          type: string
        namespace:
          type: string
        tags:
          type: array
          items:
            type: string
        source:
          type: string
        created_at:
          type: string
          format: date-time
        memory_kind:
          type: string
          enum: [unspecified, semantic, document_chunk, synced, media_rollup, consolidation]
        valid_from:
          type: [string, "null"]
          format: date-time
        valid_to:
          type: [string, "null"]
          format: date-time
        supersedes_id:
          type: [string, "null"]
          format: uuid
        superseded_at:
          type: [string, "null"]
          format: date-time
        is_superseded:
          type: boolean
        final_score:
          type: number
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
