openapi: 3.1.0
info:
  title: Total Recall Memory API
  version: 1.0.0
  description: >-
    Authenticated REST API for memory storage, hybrid search, provenance,
    observability, and media ingestion. JSON bodies are limited to 8 MiB and
    only identity Content-Encoding is accepted. Memory content is limited to
    100,000 JavaScript characters; document content to 1048576 UTF-8 bytes and
    each embedding chunk to 2,000 UTF-8 bytes. Per-request metadata is limited
    to 65536 serialized JSON bytes, depth 16, and 1000 keys. Requests accept at
    most 100 tags and 256 JavaScript characters per tag. Administrative
    operations require an API key with the explicit admin permission.
servers:
  - url: https://recall.stakewatch.dev
security:
  - bearerAuth: []
paths:
  /health:
    get:
      operationId: getHealth
      summary: Check service health
      security: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
  /api/capabilities:
    get:
      operationId: getCapabilities
      summary: Describe the authenticated key's dashboard capabilities
      responses:
        "200":
          description: Non-secret key capabilities
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Capabilities"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /api/search:
    post:
      operationId: searchMemories
      summary: Search memories using semantic and keyword search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
      responses:
        "200":
          description: Search results, ordered by final_score descending
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedContentEncoding"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/store:
    post:
      operationId: storeMemory
      summary: Store or reuse a near-duplicate memory
      description: >-
        By default, an active near-duplicate in the same namespace, access level,
        and embedding space is boosted and returned instead of inserting a row.
        Document chunks and source-key stores are excluded. Send dedupe=false to
        force insertion. Optional ttl is a positive integer lifetime in seconds;
        expiring writes bypass semantic deduplication and are logically absent at
        expires_at even if physical purge has not run yet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreRequest"
      responses:
        "200":
          description: Memory stored
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/TombstonedIdempotencyKey"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedContentEncoding"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/store-document:
    post:
      operationId: storeDocument
      summary: Store and automatically chunk a document
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreDocumentRequest"
      responses:
        "200":
          description: Document stored
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreDocumentResponse"
        "400":
          description: Invalid request, including blank content or decoded UTF-8 document content over 1 MiB.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/DocumentIdempotencyConflict"
        "413":
          description: JSON transport envelope exceeds the 8 MiB parser limit.
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedContentEncoding"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/memories:
    get:
      operationId: listMemories
      summary: Browse accessible memories
      description: Returns only namespaces and access levels authorized for the key. Tombstones are never returned.
      parameters:
        - { name: namespace, in: query, schema: { type: string, maxLength: 512 } }
        - { name: source, in: query, schema: { type: string, maxLength: 512 } }
        - name: tag
          in: query
          schema: { type: array, items: { type: string, maxLength: 512 } }
          style: form
          explode: true
        - $ref: "#/components/parameters/AgentId"
        - { name: access_level, in: query, schema: { type: string, enum: [normal, sensitive, secret] } }
        - { name: created_after, in: query, schema: { type: string, format: date-time } }
        - { name: created_before, in: query, schema: { type: string, format: date-time } }
        - { name: active, in: query, schema: { type: string, enum: [active, superseded, expired, all], default: active } }
        - { name: sort, in: query, schema: { type: string, enum: [created_at, updated_at, accessed_at, access_count, relevance], default: created_at } }
        - { name: direction, in: query, schema: { type: string, enum: [asc, desc], default: desc } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 200, default: 50 } }
        - $ref: "#/components/parameters/Offset"
      responses:
        "200":
          description: Accessible memory page
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MemoryPage" }
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
    delete:
      operationId: forgetMemories
      summary: Soft-delete matching memories
      description: >-
        Selectors combine with AND. At least one selector is required. Requests
        without ids require confirm=true. Requires the delete permission.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForgetRequest"
      responses:
        "200":
          description: Newly tombstoned authorized memories
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForgetResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedContentEncoding"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/memories/{id}:
    parameters:
      - $ref: "#/components/parameters/MemoryId"
    get:
      operationId: getMemory
      summary: Get one active accessible memory
      responses:
        "200":
          description: Memory detail
          content:
            application/json:
              schema:
                type: object
                required: [memory]
                properties: { memory: { $ref: "#/components/schemas/MemoryRecord" } }
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      operationId: updateMemory
      summary: Update an active memory and regenerate its embedding when content changes
      parameters:
        - name: If-Match
          in: header
          required: true
          description: Quoted updated_at value from the memory representation.
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MemoryPatch" }
      responses:
        "200":
          description: Updated memory
          content:
            application/json:
              schema:
                type: object
                required: [memory]
                properties: { memory: { $ref: "#/components/schemas/MemoryRecord" } }
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "428":
          description: If-Match is required
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
  /api/stats:
    get:
      operationId: getMemoryStats
      summary: Return global memory statistics
      description: Requires admin and read permissions.
      responses:
        "200":
          description: Memory statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stats"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/agents:
    get:
      operationId: listAgents
      summary: List registered agents and their memory counts
      description: Requires admin and read permissions.
      responses:
        "200":
          description: Registered agents
          content:
            application/json:
              schema:
                type: object
                required: [agents]
                properties:
                  agents:
                    type: array
                    items:
                      $ref: "#/components/schemas/Agent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: registerAgent
      summary: Register or update an agent
      description: Requires admin and write permissions. Ownership is always attributed to the authenticated key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentRegistration"
      responses:
        "200":
          description: Registered agent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentBase"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedContentEncoding"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/traces:
    get:
      operationId: listRecallTraces
      summary: List recall traces
      description: Requires admin and read permissions.
      parameters:
        - $ref: "#/components/parameters/TraceLimit"
        - $ref: "#/components/parameters/Offset"
        - $ref: "#/components/parameters/AgentId"
        - name: session_id
          in: query
          schema:
            type: string
            maxLength: 512
      responses:
        "200":
          description: Recall traces
          content:
            application/json:
              schema:
                type: object
                required: [traces]
                properties:
                  traces:
                    type: array
                    items:
                      $ref: "#/components/schemas/RecallTrace"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/traces/{id}:
    get:
      operationId: getRecallTrace
      summary: Inspect recorded retrieval score evidence
      description: Requires admin and read permissions. Inaccessible or inactive memory IDs are omitted from summaries.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: Recall trace and accessible memory summaries
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TraceDetail" }
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/audit:
    get:
      operationId: listAuditLog
      summary: List audit records
      description: Requires admin and read permissions. PostgreSQL bigint ids are serialized as decimal strings.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - $ref: "#/components/parameters/Offset"
        - name: action
          in: query
          schema:
            type: string
            maxLength: 512
        - $ref: "#/components/parameters/AgentId"
      responses:
        "200":
          description: Audit records
          content:
            application/json:
              schema:
                type: object
                required: [audit]
                properties:
                  audit:
                    type: array
                    items:
                      $ref: "#/components/schemas/AuditRecord"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/media/search:
    post:
      operationId: searchMedia
      summary: Search rolled-up media memories by event semantics
      description: >-
        played_after and played_before filter structured media event played_at,
        inclusively. A date-only played_before includes that entire UTC day.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MediaSearchRequest"
      responses:
        "200":
          description: Media search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedContentEncoding"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/media/events:
    get:
      operationId: listMediaEvents
      summary: List structured media events
      description: Requires admin and read permissions. Date comparisons are inclusive.
      parameters:
        - name: service
          in: query
          schema:
            type: string
            maxLength: 512
        - name: event_type
          in: query
          schema:
            type: string
            maxLength: 512
        - name: played_after
          in: query
          description: Inclusive lower played_at bound.
          schema:
            type: string
            format: date-time
        - name: played_before
          in: query
          description: Inclusive upper played_at bound.
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 50
        - $ref: "#/components/parameters/Offset"
      responses:
        "200":
          description: Media events
          content:
            application/json:
              schema:
                type: object
                required: [events]
                properties:
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/MediaEvent"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: ingestMediaEvents
      summary: Ingest structured media events
      description: Requires admin and write permissions. Client and agent ownership fields supplied by callers are ignored.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [events]
              properties:
                events:
                  type: array
                  maxItems: 500
                  items:
                    $ref: "#/components/schemas/MediaEventInput"
      responses:
        "200":
          description: Batch upsert result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaUpsertResult"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedContentEncoding"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/media/stats:
    get:
      operationId: getMediaStats
      summary: Aggregate listening statistics
      description: Requires admin and read permissions. Date comparisons are inclusive and daily buckets use UTC.
      parameters:
        - { name: service, in: query, schema: { type: string, maxLength: 512 } }
        - { name: played_after, in: query, schema: { type: string, format: date-time } }
        - { name: played_before, in: query, schema: { type: string, format: date-time } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 50, default: 10 } }
      responses:
        "200":
          description: Filtered media aggregates
          content: { application/json: { schema: { $ref: "#/components/schemas/MediaStats" } } }
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
  /api/media/rollup:
    post:
      operationId: rollupMediaEvents
      summary: Roll pending media events into searchable memories
      description: Requires admin and write permissions plus access to the media namespace.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                batch_size:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 50
      responses:
        "200":
          description: Rollup result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaRollupResult"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedContentEncoding"
        "500":
          $ref: "#/components/responses/InternalError"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Total Recall API key (tr_...)
  parameters:
    TraceLimit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        maximum: 10000
        default: 0
    MemoryId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    AgentId:
      name: agent_id
      in: query
      schema:
        type: string
        format: uuid
  responses:
    InvalidRequest:
      description: Invalid JSON, per-request metadata envelope, query parameter, or request body
      content:
        application/json:
          schema:
            oneOf:
              - type: object
                required: [code]
                properties:
                  code:
                    type: string
                    enum: [invalid_json, invalid_metadata]
              - $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found or inaccessible
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: Resource changed or conflicts with current history
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing or malformed bearer API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Invalid key, missing permission, or denied namespace/access level
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    TombstonedIdempotencyKey:
      description: The idempotency key resolves to a tombstoned or superseded memory and is never restored implicitly.
      content:
        application/json:
          schema:
            oneOf:
              - type: object
                required: [error, code]
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum: [idempotency_key_tombstoned]
              - type: object
                required: [error, code]
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum: [source_key_superseded]
    DocumentIdempotencyConflict:
      description: The key identifies a different or incomplete document, or a completed document with tombstoned chunks.
      content:
        application/json:
          schema:
            type: object
            required: [error]
            properties:
              error:
                type: string
              code:
                type: string
                enum: [idempotency_key_tombstoned]
    PayloadTooLarge:
      description: Encoded JSON exceeds the 8 MiB transport envelope; returns code payload_too_large.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    UnsupportedContentEncoding:
      description: Content-Encoding is not identity; returns code unsupported_content_encoding.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    JsonObject:
      type: object
      additionalProperties: true
    Error:
      type: object
      anyOf:
        - required: [error]
        - required: [code]
      properties:
        error:
          type: string
        code:
          type: string
        details:
          type: array
          items:
            type: object
            additionalProperties: true
    Health:
      type: object
      required: [status, version]
      properties:
        status:
          type: string
          const: ok
        version:
          type: string
    SearchRequest:
      type: object
      required: [query]
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 100000
        namespaces:
          type: array
          maxItems: 100
          items:
            type: string
            minLength: 1
            maxLength: 512
        limit:
          type: integer
          minimum: 1
          maximum: 50
          default: 10
        threshold:
          type: number
          minimum: 0
          maximum: 1
          default: 0.3
        tags:
          $ref: "#/components/schemas/SearchTags"
        source:
          type: string
          minLength: 1
          maxLength: 512
        after:
          type: string
          format: date-time
          description: Inclusive created_at lower bound.
        before:
          type: string
          format: date-time
          description: Inclusive created_at upper bound.
        valid_at:
          type: string
          format: date-time
          description: Historical validity instant using [valid_from, valid_to).
        agent_name:
          type: string
          minLength: 1
          maxLength: 512
        session_id:
          type: string
          minLength: 1
          maxLength: 512
    StoreRequest:
      type: object
      required: [content]
      properties:
        content:
          type: string
          minLength: 1
          description: Maximum 100,000 JavaScript characters (UTF-16 code units).
        namespace:
          type: string
          minLength: 1
          maxLength: 512
          default: shared
        source:
          type: string
          maxLength: 512
          description: Defaults to the authenticated key name.
        tags:
          $ref: "#/components/schemas/Tags"
        metadata:
          $ref: "#/components/schemas/JsonObject"
        access_level:
          type: string
          enum: [normal, sensitive, secret]
          default: normal
        agent_name:
          type: string
          maxLength: 512
        agent_type:
          type: string
          maxLength: 512
        agent_model:
          type: string
          maxLength: 512
        agent_runtime:
          type: string
          maxLength: 512
        session_id:
          type: string
          maxLength: 512
        idempotency_key:
          type: string
          minLength: 1
          maxLength: 512
          description: Source-key upserts bypass semantic deduplication.
        dedupe:
          type: boolean
          default: true
          description: Set false to force insertion despite a near semantic match. Cannot be true when ttl is present.
        ttl:
          type: integer
          minimum: 1
          maximum: 2147483647
          description: Lifetime in seconds, computed from PostgreSQL statement time. Omitted means no expiry.
    StoreResponse:
      type: object
      required: [id, namespace, created, deduplicated, expires_at]
      properties:
        id:
          type: string
          format: uuid
        namespace:
          type: string
        created:
          type: boolean
        deduplicated:
          type: boolean
        similarity:
          type: number
          minimum: 0
          maximum: 1
          description: Cosine similarity to the reused canonical memory; present only when deduplicated is true.
        idempotency_key_honored:
          type: boolean
          const: true
        expires_at:
          type: [string, "null"]
          format: date-time
          description: Database-computed logical expiry, or null for permanent memory.
    StoreDocumentRequest:
      type: object
      required: [title, content]
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 512
        content:
          type: string
          minLength: 1
          description: Nonblank; maximum 1048576 decoded UTF-8 bytes.
        namespace:
          type: string
          minLength: 1
          maxLength: 512
          default: shared
        tags:
          $ref: "#/components/schemas/Tags"
        source:
          type: string
          maxLength: 512
          default: manual
        metadata:
          $ref: "#/components/schemas/JsonObject"
        idempotency_key:
          type: string
          minLength: 1
          maxLength: 200
    StoreDocumentResponse:
      type: object
      required: [id, chunks]
      properties:
        id:
          type: string
          format: uuid
        chunks:
          type: integer
          minimum: 1
    ForgetRequest:
      type: object
      properties:
        ids:
          type: array
          minItems: 1
          maxItems: 100
          uniqueItems: true
          items:
            type: string
            format: uuid
        namespace:
          type: string
          minLength: 1
          maxLength: 512
        before:
          type: string
          format: date-time
          description: Strict created_at upper bound.
        tags:
          $ref: "#/components/schemas/Tags"
        confirm:
          type: boolean
        reason:
          type: string
          minLength: 1
          maxLength: 512
    ForgetResponse:
      type: object
      required: [forgotten, count]
      properties:
        forgotten:
          type: array
          items:
            type: string
            format: uuid
        count:
          type: integer
          minimum: 0
    Capabilities:
      type: object
      required: [name, namespaces, max_access_level, capabilities]
      properties:
        name: { type: string }
        namespaces: { type: array, items: { type: string } }
        max_access_level: { type: string, enum: [normal, sensitive, secret] }
        capabilities:
          type: object
          required: [read, write, delete, admin]
          properties:
            read: { type: boolean }
            write: { type: boolean }
            delete: { type: boolean }
            admin: { type: boolean }
    MemoryRecord:
      type: object
      required: [id, content, source, namespace, tags, metadata, access_level, client_id, created_at, updated_at, accessed_at, access_count]
      properties:
        id: { type: string, format: uuid }
        content: { type: string }
        source: { type: string }
        namespace: { type: string }
        tags: { $ref: "#/components/schemas/Tags" }
        metadata: { $ref: "#/components/schemas/JsonObject" }
        access_level: { type: string, enum: [normal, sensitive, secret] }
        client_id: { type: string }
        agent_id: { type: [string, "null"], format: uuid }
        session_id: { type: [string, "null"] }
        document_id: { type: [string, "null"], format: uuid }
        chunk_index: { type: [integer, "null"] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        accessed_at: { type: string, format: date-time }
        access_count: { type: integer }
        relevance_score: { type: [number, "null"] }
        memory_kind: { type: [string, "null"] }
        valid_from: { type: [string, "null"], format: date-time }
        valid_to: { type: [string, "null"], format: date-time }
        supersedes_id: { type: [string, "null"], format: uuid }
        superseded_at: { type: [string, "null"], format: date-time }
        revision: { type: [integer, "null"] }
        expires_at: { type: [string, "null"], format: date-time }
        consolidated_into_id: { type: [string, "null"], format: uuid }
    MemoryPage:
      type: object
      required: [memories, total, limit, offset]
      properties:
        memories: { type: array, items: { $ref: "#/components/schemas/MemoryRecord" } }
        total: { type: integer, minimum: 0 }
        limit: { type: integer, minimum: 1, maximum: 200 }
        offset: { type: integer, minimum: 0 }
    MemoryPatch:
      type: object
      minProperties: 1
      additionalProperties: false
      properties:
        content: { type: string, minLength: 1, maxLength: 100000 }
        tags: { $ref: "#/components/schemas/Tags" }
        metadata: { $ref: "#/components/schemas/JsonObject" }
        supersedes: { type: string, format: uuid }
    MemorySummary:
      type: object
      required: [id, content, namespace, source, tags, access_level, created_at]
      properties:
        id: { type: string, format: uuid }
        content: { type: string }
        namespace: { type: string }
        source: { type: string }
        tags: { $ref: "#/components/schemas/Tags" }
        access_level: { type: string, enum: [normal, sensitive, secret] }
        created_at: { type: string, format: date-time }
    TraceDetail:
      type: object
      required: [trace, memories]
      properties:
        trace: { $ref: "#/components/schemas/RecallTrace" }
        memories: { type: array, items: { $ref: "#/components/schemas/MemorySummary" } }
    Tags:
      type: array
      maxItems: 100
      items:
        type: string
        maxLength: 256
    SearchTags:
      type: array
      maxItems: 100
      items:
        type: string
        minLength: 1
        maxLength: 256
    SearchResponse:
      type: object
      required: [results]
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/Memory"
    SearchResult:
      $ref: "#/components/schemas/Memory"
    Memory:
      type: object
      required:
        - id
        - content
        - metadata
        - tags
        - source
        - namespace
        - created_at
        - updated_at
        - accessed_at
        - access_count
        - access_level
        - client_id
        - memory_kind
        - event_at
        - expires_at
        - relevance_score
        - relevance_base_score
        - decay_rate
        - valid_from
        - valid_to
        - supersedes_id
        - superseded_at
        - superseded_by_id
        - is_superseded
        - revision
        - vec_score
        - text_score
        - base_score
        - relevance
        - final_score
      properties:
        id:
          type: string
          format: uuid
        content:
          type: string
        metadata:
          $ref: "#/components/schemas/JsonObject"
        tags:
          type: array
          items:
            type: string
        source:
          type: string
        embedding_provider:
          type: [string, "null"]
          description: Provider of the stored vector; null means vector identity is unknown and search treats it as text-only.
        embedding_model:
          type: [string, "null"]
        embedding_dimensions:
          type: [integer, "null"]
        namespace:
          type: string
        created_at:
          type: string
          format: date-time
        event_at:
          type: [string, "null"]
          format: date-time
        expires_at:
          type: [string, "null"]
          format: date-time
        relevance_score:
          type: [number, "null"]
        relevance_base_score:
          type: [number, "null"]
        decay_rate:
          type: [number, "null"]
        updated_at:
          type: string
          format: date-time
        accessed_at:
          type: string
          format: date-time
        access_count:
          type: integer
        access_level:
          type: string
          enum: [normal, sensitive, secret]
        client_id:
          type: string
        memory_kind:
          type: string
          enum: [unspecified, semantic, document_chunk, synced, media_rollup, consolidation]
        valid_from:
          type: [string, "null"]
          format: date-time
        valid_to:
          type: [string, "null"]
          format: date-time
        supersedes_id:
          type: [string, "null"]
          format: uuid
        superseded_at:
          type: [string, "null"]
          format: date-time
        superseded_by_id:
          type: [string, "null"]
          format: uuid
        is_superseded:
          type: boolean
        revision:
          type: integer
        vec_score:
          type: [number, "null"]
        text_score:
          type: number
        base_score:
          type: number
        relevance:
          type: number
        final_score:
          type: number
    Stats:
      type: object
      required: [total_memories, by_namespace, by_source, total_documents, oldest_memory, newest_memory]
      properties:
        total_memories:
          type: integer
          minimum: 0
        by_namespace:
          type: array
          items:
            type: object
            required: [namespace, count]
            properties:
              namespace:
                type: string
              count:
                type: integer
                minimum: 0
        by_source:
          type: array
          items:
            type: object
            required: [source, count]
            properties:
              source:
                type: string
              count:
                type: integer
                minimum: 0
        total_documents:
          type: integer
          minimum: 0
        oldest_memory:
          type: [string, "null"]
          format: date-time
        newest_memory:
          type: [string, "null"]
          format: date-time
    AgentRegistration:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 512
        type:
          type: string
          minLength: 1
          maxLength: 512
          default: llm
        model:
          type: string
          minLength: 1
          maxLength: 512
        runtime:
          type: string
          minLength: 1
          maxLength: 512
        parent_agent_name:
          type: string
          minLength: 1
          maxLength: 512
        metadata:
          $ref: "#/components/schemas/JsonObject"
    AgentBase:
      type: object
      required: [id, name, type, model, runtime, parent_agent_id, api_key_id, metadata, first_seen_at, last_seen_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
        model:
          type: [string, "null"]
        runtime:
          type: [string, "null"]
        parent_agent_id:
          type: [string, "null"]
          format: uuid
        api_key_id:
          type: [string, "null"]
          format: uuid
        metadata:
          $ref: "#/components/schemas/JsonObject"
        first_seen_at:
          type: string
          format: date-time
        last_seen_at:
          type: string
          format: date-time
    Agent:
      allOf:
        - $ref: "#/components/schemas/AgentBase"
        - type: object
          required: [memory_count, last_memory_at]
          properties:
            memory_count:
              type: integer
              minimum: 0
            last_memory_at:
              type: [string, "null"]
              format: date-time
    RecallTrace:
      type: object
      required: [id, session_id, agent_id, client_id, query_text, memory_ids, result_count, scores, duration_ms, created_at, agent_name]
      properties:
        id:
          type: string
          format: uuid
        session_id:
          type: [string, "null"]
        agent_id:
          type: [string, "null"]
          format: uuid
        client_id:
          type: [string, "null"]
        query_text:
          type: string
        memory_ids:
          type: array
          items:
            type: string
            format: uuid
        result_count:
          type: integer
        scores:
          type: array
          items: {}
        duration_ms:
          type: [integer, "null"]
        created_at:
          type: string
          format: date-time
        agent_name:
          type: [string, "null"]
    AuditRecord:
      type: object
      required: [id, client_id, action, namespace, memory_id, query_text, result_count, created_at, agent_id, session_id, agent_name]
      properties:
        id:
          type: string
          pattern: "^[0-9]+$"
        client_id:
          type: string
        action:
          type: string
        namespace:
          type: [string, "null"]
        memory_id:
          type: [string, "null"]
          format: uuid
        query_text:
          type: [string, "null"]
        result_count:
          type: [integer, "null"]
        created_at:
          type: string
          format: date-time
        agent_id:
          type: [string, "null"]
          format: uuid
        session_id:
          type: [string, "null"]
        agent_name:
          type: [string, "null"]
    MediaSearchRequest:
      type: object
      required: [query]
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 100000
        services:
          type: array
          maxItems: 100
          items:
            type: string
            minLength: 1
            maxLength: 512
        event_types:
          type: array
          maxItems: 100
          items:
            type: string
            minLength: 1
            maxLength: 512
        played_after:
          $ref: "#/components/schemas/MediaDateBound"
        played_before:
          $ref: "#/components/schemas/MediaDateBound"
        tags:
          $ref: "#/components/schemas/SearchTags"
        limit:
          type: integer
          minimum: 1
          maximum: 50
          default: 10
        threshold:
          type: number
          minimum: 0
          maximum: 1
          default: 0.3
        agent_name:
          type: string
          minLength: 1
          maxLength: 512
        session_id:
          type: string
          minLength: 1
          maxLength: 512
    MediaDateBound:
      oneOf:
        - type: string
          format: date
        - type: string
          format: date-time
    MediaEventInput:
      type: object
      required: [service, event_type, title, played_at]
      properties:
        service:
          type: string
          minLength: 1
          maxLength: 128
        service_id:
          type: [string, "null"]
          maxLength: 512
        event_type:
          type: string
          minLength: 1
          maxLength: 128
        title:
          type: string
          minLength: 1
          maxLength: 4096
        artist:
          type: [string, "null"]
          maxLength: 4096
        album:
          type: [string, "null"]
          maxLength: 4096
        show:
          type: [string, "null"]
          maxLength: 4096
        season:
          $ref: "#/components/schemas/NullableInt32"
        episode:
          $ref: "#/components/schemas/NullableInt32"
        year:
          $ref: "#/components/schemas/NullableInt32"
        genres:
          type: array
          maxItems: 50
          items:
            type: string
            minLength: 1
            maxLength: 256
        duration_ms:
          $ref: "#/components/schemas/NullableInt32"
        played_ms:
          $ref: "#/components/schemas/NullableInt32"
        completed:
          type: [boolean, "null"]
        played_at:
          type: string
          description: Timestamp accepted by PostgreSQL; missing offsets are interpreted as UTC.
        metadata:
          type: object
          description: Maximum 16384 serialized JSON characters.
          additionalProperties: true
    NullableInt32:
      type: [integer, "null"]
      minimum: -2147483648
      maximum: 2147483647
    MediaEvent:
      allOf:
        - $ref: "#/components/schemas/MediaEventInput"
        - type: object
          required: [id, service_id, artist, album, show, season, episode, year, genres, duration_ms, played_ms, completed, metadata, client_id, agent_id, memory_id, created_at]
          properties:
            id:
              type: string
              format: uuid
            played_at:
              type: string
              format: date-time
            client_id:
              type: [string, "null"]
              format: uuid
            agent_id:
              type: [string, "null"]
              format: uuid
            memory_id:
              type: [string, "null"]
              format: uuid
            created_at:
              type: string
              format: date-time
    MediaUpsertResult:
      type: object
      required: [inserted, skipped, ids]
      properties:
        inserted:
          type: integer
          minimum: 0
        skipped:
          type: integer
          minimum: 0
        ids:
          type: array
          items:
            type: string
            format: uuid
    MediaStats:
      type: object
      required: [total_events, listening_duration_ms, plays_by_service, top_artists, top_albums, top_tracks, daily]
      properties:
        total_events: { type: integer, minimum: 0 }
        listening_duration_ms: { type: integer, minimum: 0 }
        plays_by_service:
          type: array
          items:
            type: object
            required: [service, count, duration_ms]
            properties:
              service: { type: string }
              count: { type: integer, minimum: 0 }
              duration_ms: { type: integer, minimum: 0 }
        top_artists:
          type: array
          items:
            type: object
            required: [artist, plays, duration_ms]
            properties:
              artist: { type: string }
              plays: { type: integer, minimum: 0 }
              duration_ms: { type: integer, minimum: 0 }
        top_albums:
          type: array
          items:
            type: object
            required: [album, artist, plays, duration_ms]
            properties:
              album: { type: string }
              artist: { type: [string, "null"] }
              plays: { type: integer, minimum: 0 }
              duration_ms: { type: integer, minimum: 0 }
        top_tracks:
          type: array
          items:
            type: object
            required: [title, artist, plays, duration_ms]
            properties:
              title: { type: string }
              artist: { type: [string, "null"] }
              plays: { type: integer, minimum: 0 }
              duration_ms: { type: integer, minimum: 0 }
        daily:
          type: array
          items:
            type: object
            required: [date, count, duration_ms]
            properties:
              date: { type: string, format: date }
              count: { type: integer, minimum: 0 }
              duration_ms: { type: integer, minimum: 0 }
    MediaRollupResult:
      type: object
      required: [rolled, failed, errors]
      properties:
        rolled:
          type: integer
          minimum: 0
        failed:
          type: integer
          minimum: 0
        errors:
          type: array
          items:
            type: string
